<div class="map-container span6 offset3">
  <div id="new-court-form">
    BLAH BLAH BLAH
  </div>
  <button class="btn" id="new-court-button"><b>New Court</b></button>
  <div id="map-canvas">
  </div>
</div>