$map-width: 450px;
$map-height: 400px;



.map-container {
	height: $map-width;
	width: $map-height;
	position: relative;
}

#map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
}

#new-court-button {
	position: absolute;
	left: 245px;
	top: 0%;
	z-index: 1;
	font-weight: bold;

}


