$default-gray: #181818;

#new-court-button-wrapper {
	top: 0%;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 3;
	margin: 0% auto;
}

#new-court-button {
	margin-left: 45%;
	text-align: center;
	width: 135px;
	font-weight: bold;
	float: left;
}

#airBB{
	position: absolute;
	font-family: "Gudea";
	font-size: 300%;
	color: black;
	left: 7%;
	z-index: 3;
}

#current-username {
	margin-left: 20%;
	font-size: 150%;
	color: black;
}

#logout {
	float: left;	
}
