<!DOCTYPE html>
<html>
<head>
  <title>AirBB</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmvWtzGkXk7HeIcQEgRYV9qQRuh1uYY4k&sensor=true">
    </script>
    <script type="text/javascript">
      
    </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
